body{
    background-size: cover;
}
canvas{
    border: 1px;
    border-radius: 20px;
    box-shadow: 1px royalblue;
}
.copy_right_footer {
    position: fixed;
    color: #6c757d;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    line-height: 3;
    text-align: center;
}